.book {
    width: 295px;
    margin: 15px;
    cursor: pointer;
    transition: .2s;
    
    font-family: sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &:hover {
        transform: scale(1.05);
    }

    img {width: 200px;}
    h2 {font-size: 17px;}
    p {font-size: 15px;}
}

@media screen and (max-width: 690px) {
    .book {
        align-items: center;
        text-align: center;
    }
}