.nav {
    display: flex;
    align-items: center;
    &-link {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: rgb(238, 93, 93);
        }
        margin: 0 12px;
    }
}
.logout-btn {
    color: white;
    font-size: 16px;
    transition: color .25s;
    &:hover {
        color: rgb(61, 61, 61);
        cursor: pointer;
    }
}


@media screen and (max-width: 480px) {
    .nav {
        flex-direction: column;
        margin-top: 7px;
    }
}