@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Geo', sans-serif;
    font-size: 20px;
}

.wrapper {
    width: 100%;
    max-width: 1275px;
    margin: 0 auto;
}